.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 5px 10px;
  font-weight: 500;
  color: #666;
  font-size: 18px;
}
.sidebar-header > div:last-child {
  font-weight: normal;
  color: blue;
  padding: 5px 10px;
  transition: background-color 0.3s;
}
.sidebar-header > div:last-child:hover {
  background-color: #e2e2e2;
  border-radius: 5px;
  cursor: pointer;
}
